html,body{
    margin: 0;
    padding: 0;
}

.firstSquare{
   display: grid;
   width: 500px;
   height: 100px;
   border: 2px solid; color: white;
   background-color: #f5c6d6
}

.secondSquareOne{
    display: gird;
    width: 120px;
    height: 100px;
    border: 2px solid; color: white;
    background-color: #EE2E84;
    position: absolute;
    left: 125px;
}

.secondSquareTwo{
    display: gird;
    width: 120px;
    height: 100px;
    border: 2px solid; color: white;
    background-color: #EE2E84; position: absolute;
    left: 250px;
    
}

.secondSquareThree{
    display: gird;
    width: 120px;
    height: 100px;
    border: 2px solid; color: white;
    background-color: #EE2E84;
    position: absolute;
    left: 375px;
}

.secondSquareFour{
    display: gird;
    width: 120px;
    height: 100px;
    border: 2px solid; color: white;
    background-color: #EE2E84;
    
}

.thirdSquareOne{
    display: grid;
    width: 250px;
    height: 100px;
    border: 2px solid; color: white;
    background-color: #85cfd8; 
    position: absolute;
    left: 250px;
}

.thirdSquareTwo{
    display: grid;
    width: 250px;
    height: 100px;
    border: 2px solid; color: white;
    background-color: #85cfd8; 
}


.fourthSquare{
    display: grid;
    width: 375px;
    height: 100px;
    border: 2px solid; color: white;
    background-color: #8dc63f;
    
}
.fifthSquare{
    display: grid;
    width: 125px;
    height: 100px;
    border: 2px solid; color: white;
    background-color: #e76e34;position: absolute;
    left: 380px;
    top: 310px;
    
}