/* Instructions
Style the article using the following:

Make the main headline dark green.
Use the font family "Georgia" for the main headline and the sub-headline.
Center the text of the main headline and the sub-headline.
Make the paragraphs have a line height of 25 pixels.
Remove the underline from the links.
Make the "You might also like" label all uppercase.
Bonus: Make an underline appear when you hover over a link.
Bonus: Make the image 'float' to the left of the body content. */

h1{
    color:green;
    font-size:Georgia;
    text-align: center;
}
h2{
    font-size:Georgia;
    text-align: center;
}
.paragraphs{
    line-height: 25px;
}
a{
    text-underline-position: unset;
    
}
a.hover{
    text-decoration: underline;
}
.uppercase{
    text-transform:uppercase ;
}
img{
    float: left;
    width: 200px;
    margin: 20px ;
}