body{
    background-color: #111111;
}
h1{
    color: #e2e80F;
}
.paragraphs{
    color:#eeeeee;
    font-size:25px;
}
.credits{
    text-decoration:underline blue;
    color:#49DAFF;
}
.film-description{
    width: 25rem;
}
.credits:hover{
    cursor: grab; 
}
